<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Amtrak Decal Request Form</title>
    <style type="text/css">
        {% include "include/print.css" %}
    </style>
</head>
<body>
<h1>Amtrak Decal Request Form</h1>
<table class="table table-bordered">
    <tr>
        <td>{{ user_form.name.label }}</td>
        <td>{{ user_form.name.value }}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>

</body>

</html>
{{ user_form.as_table }}
{{ deal_form.as_table }}
