language: python
python:
  - "2.6"
  - "2.7"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
script:
    WKHTLMTOPDF_CMD=`which wkhtmltopdf-heroku` ./run_tests.sh
install:
        pip install -r requirements.txt -r test_requirements.txt
notifications:
  email:
    - jason.louard.ward@gmail.com
