@charset "utf-8";
/* CSS Document */

@import url('reset.css');

@font-face {
    font-family: 'Arial';
    src: url('../lib/froala/fonts/arial-webfont.eot');
    src: url('../lib/froala/fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
        url('../lib/froala/fonts/arial-webfont.woff2') format('woff2'),
        url('../lib/froala/fonts/arial-webfont.woff') format('woff'),
        url('../lib/froala/fonts/arial-webfont.ttf') format('truetype'),
        url('../lib/froala/fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'Times New Roman';
    src: url('../lib/froala/fonts/times-webfont.eot');
    src: url('../lib/froala/fonts/times-webfont.eot?#iefix') format('embedded-opentype'),
        url('../lib/froala/fonts/times-webfont.woff2') format('woff2'),
        url('../lib/froala/fonts/times-webfont.woff') format('woff'),
        url('../lib/froala/fonts/times-webfont.ttf') format('truetype'),
        url('../lib/froala/fonts/times-webfont.svg#times_new_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'Tahoma';
    src: url('../lib/froala/fonts/tahoma-webfont.eot');
    src: url('../lib/froala/fonts/tahoma-webfont.eot?#iefix') format('embedded-opentype'),
        url('../lib/froala/fonts/tahoma-webfont.woff2') format('woff2'),
        url('../lib/froala/fonts/tahoma-webfont.woff') format('woff'),
        url('../lib/froala/fonts/tahoma-webfont.ttf') format('truetype'),
        url('../lib/froala/fonts/tahoma-webfont.svg#tahomaregular') format('svg');
    font-weight: normal;
    font-style: normal;}

/* ------------------------------- */
/* Useful Classes */
/* ------------------------------- */

.transition {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;}

/* ------------------------------- */
/* Main Body */
/* ------------------------------- */

body {
	background-color: #005983;}

.logo {
	margin: 0 auto;
	display: block;}

.container {
	margin: 0 auto;}

.pane {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #ecf0f1;
	margin-bottom: 20px;
	padding: 20px;}
.pane label {
	float: left;
    line-height: 30px;
    margin-bottom: 0;}
.pane input,
.pane select,
.pane textarea {
	float: right;
	margin-bottom: 10px;}
    
/* Radio Button Inputs */
.pane ul {
    padding: 0;
    list-style: none;}
.pane ul li {
    display: block;
    height: 30px;
    padding: 0 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;}
.pane ul li:hover {
    background-color: #d7d7d7;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    transition: background-color .2s linear;}
.pane ul li label {
    width: 100%;}
.pane ul li label input {
    margin: 9px 0 0 0;}
.pane label + ul {
    margin: 30px 0 10px 0;}
 
 /* Helper Links */
.helper-link {
    margin: 8px;}

 /* Continue Button */
.continue {
	text-align: center;}

/* Specific Field Tweaks */
#id_description {
    width: 100%;
    box-sizing: border-box;}
.editor-fake-label {
    line-height: 30px;}
.modal-highlight {
    background-color: #D9EDF7;}
.finish-button {
    margin-top: 20px !important;}
    
/* ------------------------------- */
/* Helper Modal Classes */
/* ------------------------------- */

/* Font Face Modal */
#font-face-modal {}

/* Font Size Modal */
#font-size-modal table td {
    line-height: 36px;}
#font-size-modal .very-small {
    font-size: 8px;}
#font-size-modal .small {
    font-size: 12px;}
#font-size-modal .medium {
    font-size: 16px;}
#font-size-modal .large {
    font-size: 24px;}
#font-size-modal .very-large {
    font-size: 36px;}

/* Border Type Modal */
#border-type-modal .border-type {
    display: block;
    width: 150px;
    height: 1px;
    margin: 4px auto;}
#border-type-modal .single {
    border-top: solid 10px #000;}
#border-type-modal .double {
    border-top: double 10px #000;}

/* Border Thickness Modal */
#border-thickness-modal td {
    line-height: 26px;}
#border-thickness-modal .border-thickness {
    display: block;
    width: 150px;
    height: 0;
    margin: 0 auto;
    border-top-style: solid;
    border-top-color: #000;}
#border-thickness-modal .very-thin {
    border-top-width: 5px;
    margin-top: 10px;}
#border-thickness-modal .thin {
    border-top-width: 10px;
    margin-top: 8px;}
#border-thickness-modal .medium {
    border-top-width: 15px;
    margin-top: 5px;}
#border-thickness-modal .thick {
    border-top-width: 20px;
    margin-top: 3px;}
#border-thickness-modal .very-thick {
    border-top-width: 25px;}

/* ------------------------------- */
/* Validation */
/* ------------------------------- */

input.validation-error {
    color: #B94A48;
    border-color: #953B39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D59392;}

/* ------------------------------- */
/* Froala Overrides */
/* ------------------------------- */

.froala-box .froala-editor {
    background-color: #ecf0f1;
    border-top: solid 1px #252525;}

.froala-box .froala-element {
    background-color: #fff;}

