@charset "utf-8";
/* CSS Document */

@import url('reset.css');

/*
Useful Classes
*/

.transition {
	-webkit-transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-ms-transition: background .25s ease-in-out;
	-o-transition: background .25s ease-in-out;
	transition: background .25s ease-in-out;}

/*
Main Body
*/


body {
	background-color: #005983;}

.logo {
	margin: 0 auto;
	display: block;}

.container {
	margin: 0 auto;}

.pane {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #ecf0f1;
	margin-bottom: 20px;
	padding: 20px;}

.pane label {
	float: left;}
.pane input,
.pane select {
	float: right;
	margin-bottom: 10px;}
.continue {
	text-align: center;}

/* Form */


